<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
            <title>BKB Adventskalender</title>
        <link rel="stylesheet" href="styles.css">  
    </head>
    <body>
        <h1>BKB Adventskalender 2.0</h1>
        <form action="" method="POST">                               
            <input type="text" name="text" id="tbxEintrag" placeholder="Neuer Eintrag ..." style=<%= tbxStyle %>>  
            <label id="lblKalenderspruch" style=<%= lblStyle %>><%= lblKalenderspruch %></label>
            <button id="btnButton" formaction="/"><%= button %></button>                  
        </form>
        <p>&copy; 2018 Mein Name</p>
    </body>
</html>